<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            Editar empleado
        </div>
        <div class="card-body">
            <form class="mt-3 col-md-12" [formGroup]="empleadoForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" [(ngModel)]="empleado.nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido" [(ngModel)]="empleado.apellido">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <div class="input-group">
                            <span class="input-group-text col-md-2" id="basic-addon1">Edad: {{empleado.edad}}</span>
                            <input type="text" class="form-control col-md-10" placeholder="correo" formControlName="correo" [(ngModel)]="empleado.correo">
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <select class="form-control form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="sexo" [(ngModel)]="empleado.sexo">
                            <option value='' disabled selected>{{empleado.sexo}}</option>
                            <option *ngFor="let item of enumValues" [value]="item">
                                {{item}} </option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="btn-group mb-2 col-md-12">
            <button type="submit" (click)="editar(empleado.id,empleadoForm.value)" class="btn btn-outline-success col-md-6">Actualizar</button>
            <button type="submit" class="btn btn-outline-secondary col-md-6" (click)="volver()">Volver a inicio</button>
        </div>
    </div>
</div>