<div class="container">
    <div class="row mt-5">
        <div class="form-group col-md-3">
            <button type="button" class="btn btn-outline-primary col-md-12" (click)="getEmpleadoList(2)">Lista por genero</button>
        </div>
        <div class="form-group col-md-3">
            <button type="button" class="btn btn-outline-primary col-md-12" (click)="getEmpleadoList(3)">Lista por edad </button>
        </div>
        <div class="form-group col-md-3">
            <button type="button" class="btn btn-outline-primary col-md-12" (click)="agregar()">Agregar un nuevo
                empleado</button>
        </div>
        <div class="form-group col-md-3">
            <button class="btn btn-success col-md-12" (click)="exportexcel()">Export to Excel</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table mt-5">
                <div class="table-responsive">
                    <table class="table table-hover" id="excel-table">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Edad</th>
                                <th scope="col">Sexo</th>
                                <th scope="col">Correo</th>
                                <th class="d-none d-sm-block" scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngFor="let item of empleado">
                                <td>{{item?.id}}</td>
                                <td>{{item?.nombre}}</td>
                                <td>{{item?.apellido}}</td>
                                <td>{{item?.edad}}</td>
                                <td>{{item?.sexo}}</td>
                                <td>{{item?.correo}}</td>
                                <td class="btn-group d-none d-sm-block" role="group">
                                    <button type="button" class="btn btn-outline-success m-1" (click)="editar(item.id)">Editar</button>
                                    <button type="button" class="btn btn-outline-warning m-1" (click)="detalles(item.id)">Detalles</button>
                                    <button type="button" class="btn btn-outline-danger m-1" (click)="eliminar(item.id)">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </table>
        </div>
    </div>
</div>