<div class="container">
    <div class="card mt-2">
        <div class="card-header">
            Detalle del empleado
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    Nombre:
                    <h5>{{empleado.nombre}}</h5>
                </li>
                <li class="list-group-item">
                    Apellido:
                    <h5>{{empleado.apellido}}</h5>
                </li>
                <li class="list-group-item">
                    Genero:
                    <h5>{{empleado.sexo}}</h5>
                </li>
                <li class="list-group-item">
                    Edad:
                    <h5>{{empleado.edad}}</h5>
                </li>
                <li class="list-group-item">
                    Correo electronico:
                    <h5>{{empleado.correo}}</h5>
                </li>
            </ul>
        </div>
        <div class="btn-group col-md-12">
            <button type="button" class="btn btn-outline-warning mt-2 col-md-4" (click)="editar(empleado.id)">Editar</button>
            <button type="button" class="btn btn-outline-danger mt-2 col-md-4" (click)="eliminar(empleado.id)">Eliminar</button>
            <button type="button" class="btn btn-outline-secondary mt-2 col-md-4" (click)="volver()">Volver a inicio</button>
        </div>
    </div>
</div>