<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            Agregar nuevo empleado
        </div>
        <div class="card-body">
            <form class="mt-3 col-md-12" [formGroup]="empleadoForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <select class="form-control form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="sexo">
                            <option value='' disabled selected>Seleccione el genero</option>
                            <option *ngFor="let item of enumValues" [value]="item">
                                {{item}} </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" formControlName="fechaNacimiento" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" placeholder="correo" formControlName="correo">
                    </div>
                </div>
            </form>
        </div>
        <div class="btn-group mb-2 col-md-12">
            <button type="submit" (click)="create(empleadoForm.value)" class="btn btn-outline-success  col-md-6">Guardar</button>
            <button type="submit" class="btn btn-outline-secondary col-md-6" (click)="regresar()">Volver a inicio</button>
        </div>
    </div>
</div>